.container {  display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title Title Title Title Title"
      ". Yesterday Yesterday Yesterday ."
      ". Today Today Today ."
      ". Blockers Blockers Blockers ."
      ". submit . reset .";
  }
  
  .Title { grid-area: Title; }
  
  .Yesterday {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Ytext Ytext"
      "Ylabel Ytext Ytext"
      ". Ytext Ytext";
    grid-area: Yesterday;
  }
  
  .Ylabel { grid-area: Ylabel; justify-content: flex-start; }
  
  .Ytext { grid-area: Ytext; justify-content: flex-end }
  
  .Today {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Ttext Ttext"
      "TLabel Ttext Ttext"
      ". Ttext Ttext";
    grid-area: Today;
  }
  
  .TLabel { grid-area: TLabel; justify-content: flex-start; }
  
  .Ttext { grid-area: Ttext; justify-content: flex-end }
  
  .Blockers {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "blabel bradio ."
      ". . .";
    grid-area: Blockers;
  }
  
  .blabel { grid-area: blabel; }
  
  .bradio { grid-area: bradio; }
  
  .submit {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . sbutton"
      ". . .";
    grid-area: submit;
  }
  
  .sbutton { grid-area: sbutton; justify-content: flex-end;}
  
  .reset {  display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . rbutton"
      ". . .";
    grid-area: reset;
  }
  
  .rbutton { grid-area: rbutton; justify-content: flex-end;}
  body{
      background-color: #b0bec5;
  }  